<div>
  <nz-card>
    <div nz-row>
      <div nz-col nzSpan="8">
        <form [hidden]="!hiddenAdvancedSearchForm" nz-form [nzLayout]="'inline'">
          <nz-form-item>
            <input nz-input placeholder="nhập từ khóa"/>
            &nbsp;
            <button nz-button nzType="primary" class="rounded-lg"><i class="fa fa-search mr-1"></i>Tìm</button>
          </nz-form-item>
        </form>  
      </div>
      <div nz-col nzSpan="8" nzOffset="8">
        <div class="float-right">
        <button nz-button nzType="primary" class="rounded-lg"><i class="fa fa-repeat mr-1"></i>Làm mới</button>
        <button nz-button nzType="primary" class="rounded-lg" (click)="showModal()"><i class="fa fa-plus mr-1"></i>Tạo mới</button>
        <button nz-button nzType="primary" class="rounded-lg" (click)="toggleCollapse()" ><i class="fa fa-filter mr-1"></i>Bộ lọc</button>
      </div>
      </div>
    </div>

    <br>

      <!-- advanced search form -->
    <div [hidden]="hiddenAdvancedSearchForm">
      <form nz-form class="advanced-search-form" [nzLayout]="'vertical'">
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="6">
            <nz-form-item>
              <nz-form-label>Tên tài khoản</nz-form-label>
              <nz-form-control>
                <input nz-input placeholder="nhập tên tài khoản"/>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-form-item>
              <nz-form-label>Họ tên</nz-form-label>
              <nz-form-control>
                <input nz-input placeholder="nhập họ tên"/>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-form-item>
              <nz-form-label>Loại tài khoản</nz-form-label>
              <nz-form-control>
                <nz-select ngModel="lucy">
                  <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                  <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                  <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-form-item>
              <nz-form-label>Lần đăng nhập cuối</nz-form-label>
              <nz-form-control>
                <nz-date-picker style="display: block;"></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-form-item>
              <nz-form-label>Ngày tạo</nz-form-label>
              <nz-form-control>
                <nz-date-picker style="display: block;"></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-form-item>
              <nz-form-label>Trạng thái</nz-form-label>
              <nz-form-control>
                <nz-select ngModel="lucy">
                  <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                  <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                  <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      
        <div nz-row>
          <div nz-col [nzSpan]="24">
            <button nz-button class="rounded-lg">Đặt lại</button>
            <button nz-button nzType="primary" class="rounded-lg">Tìm</button>
          </div>
        </div>
      </form>

      <br>
    </div>
    
    <!-- table -->
    <nz-table #rowSelectionTable nzBordered #smallTable nzSize="small"
      nzShowSizeChanger
      [nzData]="listOfData"
      (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
      >
      <thead>
        <tr>
          <th
            [(nzChecked)]="checked"
            [nzIndeterminate]="indeterminate"
            (nzCheckedChange)="onAllChecked($event)"
          ></th>
          <th [nzSortFn]="true">STT</th>
          <th [nzSortFn]="true">Tên tài khoản</th>
          <th [nzSortFn]="true">Họ tên</th>
          <th [nzSortFn]="true">Loại tài khoản</th>
          <th [nzSortFn]="true">Lần đăng nhập thất bại</th>
          <th [nzSortFn]="true">Lần đăng nhập cuối</th>
          <th [nzSortFn]="true">Ngày tạo</th>
          <th [nzSortFn]="true">Trạng thái</th>
          <th>Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data">
          <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
          <td>1</td>
          <td>vinhndq</td>
          <td>Ngô Đắc Quang Vinh</td>
          <td>Admin</td>
          <td>14</td>
          <td>31/12/2020 15:55:55</td>
          <td>31/12/2020 15:55:55</td>
          <td class="text-center">
            <nz-switch nzSize="small" [ngModel]="true"></nz-switch>
          </td>
          <td class="text-center">
            <a nz-dropdown [nzDropdownMenu]="menu">
              <i class="fa fa-ellipsis-h"></i>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item><i class="fa fa-eye text-success mr-2"></i>Xem</li>
                <li nz-menu-item><i class="fa fa-pencil text-warning mr-2"></i>Sửa</li>
                <li nz-menu-item nzDanger><i class="fa fa-trash mr-2"></i>Xóa</li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>
      </tbody>
      </nz-table>
  </nz-card>

  <!-- modal -->
  <nz-modal [(nzVisible)]="isVisible" nzTitle="Tạo mới tài khoản" nzOkText="Tạo" nzCancelText="Đóng"
  (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" 
  [nzOkLoading]="isOkLoading" nzCentered [nzClosable]="false" [nzMaskClosable]='false'
  [nzWidth]="648">

  <form nz-form [nzLayout]="'vertical'">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label nzRequired>Tên tài khoản</nz-form-label>
          <nz-form-control>
            <input nz-input placeholder="nhập tên tài khoản"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label nzRequired>Loại tài khoản</nz-form-label>
          <nz-form-control>
            <input nz-input placeholder="nhập họ tên"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label nzRequired>Trạng thái</nz-form-label>
          <nz-form-control>
            <input nz-input placeholder="nhập họ tên"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired>Mật khẩu</nz-form-label>
          <nz-form-control>
            <input nz-input placeholder="nhập họ tên"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired>Xác nhận mật khẩu</nz-form-label>
          <nz-form-control>
            <input nz-input placeholder="nhập họ tên"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label nzRequired>Họ và tên</nz-form-label>
          <nz-form-control>
            <input nz-input placeholder="nhập họ tên"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label nzRequired>Địa chỉ Email</nz-form-label>
          <nz-form-control>
            <input nz-input placeholder="nhập họ tên"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label nzRequired>Số điện thoại</nz-form-label>
          <nz-form-control>
            <input nz-input placeholder="nhập họ tên"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label>Checkbox<label nz-checkbox [nzChecked]="true"></label></nz-form-label>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label nzRequired>Số điện thoại</nz-form-label>
          <nz-form-control>
            <input nz-input placeholder="nhập họ tên"/>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</nz-modal>

</div>

