.advanced-search-form {
    border: 1px solid #20a8d8;
    border-radius: 6px; 
    padding: 24px;
}

nz-date-picker,
nz-time-picker {
    width: 100%;
}

nz-form-label {
    text-align: left;
}

.dynamic-delete-button {
    cursor: pointer;
    position: relative;
    top: 2px;
    font-size: 18px;
    transition: all 0.3s;
}

.dynamic-delete-button:hover {
    color: #40a9ff;
}

.dynamic-plus-button {
    font-size: 18px;
}

.role-input {
    width: 30%;
    margin-right: 8px;
}

.required:after {
    content:"*";
    color: red;
}

::ng-deep .ant-table.ant-table-small {
    border: 1px solid #d9d9d9;
    
}

.ant-table-tbody > tr.ant-table-row:hover > td {
    background:#e6f7ff;
}

/* .ant-table-tbody > tr.ant-table-row:nth-child(2n) {
    background:#ffffff;
} */

::ng-deep .ant-table.ant-table-small > .ant-table-container >
 .ant-table-content > table > .ant-table-thead > tr.ant-table-row > th
{ 
    border: 1px solid #e7e7e7;
    background-color:#ecedee;
    text-align: center;
}

::ng-deep .ant-modal-footer > button.ant-btn {
    margin-left: 0 !important;
}

.context-area {
    background: #d40000;
    color: rgb(219, 0, 0);
  }





